<main th:remove="tag">
    <div class="main-container">
        <section class="height-100 cover cover-13 videobg imagebg" data-overlay="1">
            <video autoplay="" loop="" muted="">
                <source src="/video/video-2.webm" type="video/webm"/>
                <source src="/video/video-2.mp4" type="video/mp4"/>
                <source src="/video/video-2.ogv" type="video/ogg"/>
            </video>
            <div class="background-image-holder">
                <img alt="image" src="/img/video-2-poster.jpg"/>
            </div>
            <div class="container pos-vertical-center">
                <div class="row">
                    <div class="col-sm-12 col-md-10 col-md-offset-1 text-center">
                        <h1>Работим по въпроса</h1>
                        <p class="lead">
                            Страницата в момента не е достъпна, но скоро ще бъде.
                            <br/>
                            Благодарим за търпението Ви и съжаляваме за създаденото неудобство.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>