<main th:remove="tag">
    <div class="main-container">
        <section class="height-20">
            <div class="container pos-vertical-center">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h2>Регламент на Hack 30xTUES</h2>
                        <span>
                            <em>В сила от 20.02.2018 г.</em>
                        </span>
                    </div>
                </div>
            </div>
        </section>

        <section class="bg--secondary text-justify" style="padding-top: 4em;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <th:block th:if="${message}">
                            <div id="message" class="notification pos-right pos-top col-sm-6 col-md-4 col-xs-12 growl-notice notification--reveal" data-animation="from-right" data-notification-link="growl" style="top: 40px;">
                                <div class="boxed boxed--sm bg--dark">
                                    <span th:text="${message}"></span>
                                </div>
                                <div class="notification-close-cross notification-close"></div>
                            </div>
                        </th:block>

                        <h4>ОТГОВОРНОСТ:</h4>
                        <p>Участниците са длъжни да спазват Правилника за вътрешния ред на ТУЕС по време на хакатона.</p>
                        <p>Организаторите на събитието не носят отговорност за щети, нанесени от участниците, върху базата на София Тех Парк и техниката на ТУЕС и София Тех Парк по време на хакатона.</p>
                        <p>При нанесени материални щети, участниците са длъжни да ги възстановят.</p>
                        <p>Участниците са длъжни да се съобразяват с програмата на провеждане на хакатона (време за работа, почивки, представяне пред журито и др.), както и да спазват указанията на организаторите.</p>

                        <h4>РЕГИСТРАЦИЯ:</h4>
                        <p>В хакатона могат да участват само и единствено настоящи ученици на ТУЕС. Изключение правят организаторите и доброволците.</p>
                        <p>Регистрацията за събитието става чрез системата в сайта.</p>
                        <p>Организаторите не гарантират, че всички желаещи ще имат възможността да участват. След достигане на лимита за места, регистрацията на отбори и индивидуални участници ще бъде спряна.</p>
                        <p>Участниците могат да участват в отбори от 3 до 5 човека и имат правото сами да съставят отборите си.</p>
                        <p>Преди да добави в отбора индивидуален участник, капитанът трябва да има съгласието на този участник.</p>
                        <p>Организаторите не гарантират, че индивидуални участници ще могат да си намерят отбор. Ако до 05.03 не сте си намерили отбор, няма да можете да участвате на хакатона независимо дали сте се регистрирали като индивидуален участник или не.</p>
                        <p>Всеки индивидуален участник може да участва само в един отбор.</p>
                        <p>До участие в хакатона няма да бъдат допускани ученици под 18 години без предадена декларация за съгласие от родител в срока и на мястото, обявено на сайта на Hack 30xTUES.</p>

                        <h4>ПРОЕКТИТЕ:</h4>
                        <p>Проектите трябва да се придържат към темите на събитието. Крайните подтеми, по които участниците могат да работят, ще бъдат обявени по време на откриването на хакатона. Отборите сами избират подтемата, по която ще работят.</p>
                        <p>Проектите са интелектуална собственост на участниците, но е задължително всеки отбор да съхранява кода на проекта си в GitHub в публично repository (линк към  което са предали при създаване на отбор) по време на събитието.</p>
                        <p>Версии на кода трябва да се качват на публично хранилище по време на хакатона, като последната версия трябва да е качена до 08:59:59  на 18.03.2018</p>
                        <p>Embedded проектите задължително трябва да качат принципна електрическа схема в repository-то си. Няма изисквания за схемата - може да бъде реализирана дигитално(например на KiCad) или на лист, но трябва задължително да е качена в repository-то.</p>
                        <p>След изтичане на времето за работене по проектите, embedded проектите не бива да бъдат променяни по какъвто и да е начин (нито хардуерно, нито софтуерно) освен ако не се е счупила дадена хардуерна част непосредствено преди представянето. В такъв случай капитанът на отбора е длъжен да уведоми някого от организаторите преди отборът да променя каквото и да е по конструкцията/механиката/частите на проекта.</p>

                        <h4>ТЕХНИКА И  ТЕХНОЛОГИИ:</h4>
                        <p>Лаптопи, софтуер, хардуер и други активи, необходими за проекта, се осигуряват от участниците.</p>
                        <p>Технологиите, езиците за програмиране и инструментите за разработка са по избор на участниците.</p>
                        <p>Позволено е използването на всякакви езици за програмиране, технологии и инструменти за разработка, всякакви платформи с отворен лиценз, както и всякакви инструменти за графичен дизайн, анимация, видео обработка и хардуерна разработка и всякакви хардуерни устройства: телефони, таблети, микроконтролери, компоненти и други.</p>

                        <h4>ОЦЕНЯВАНЕ:</h4>
                        <p>Всеки проект се оценява по следните критерии:</p>
                        <p>Функционалност - Каква част от проекта е завършена и работи. Ако отборът не е довършил проекта, то каква част е направена?</p>
                        <p>Техническа трудност - труден за постигане ли е даденият проект в рамките на хакатона? Използват ли се неща за напреднали програмисти или е по-скоро проект за начинаещи?</p>
                        <p>Идея - Тази оценка е разделена на две. Първо дали е по темата, и второ - колко оригинална и интересна е идеята?</p>
                        <p>Участниците разбират ли какво са направили - сами ли са  направили проекта или са взаимствали от open source библиотеки и проекти по-голямата част? В случай, че някоя част е взаимствана, разбират ли я?</p>
                        <p>Работа в екип - Разпределят ли се равномерно задачите в отбора? Сработват ли се участниците помежду си?</p>
                        <p>Качествен код – Оценка от менторите след преглед на кода, написан от отбора.</p>
                        <p>Оценката по критериите “Работа в екип” и “Качествен код” ще бъде направена от менторите на всеки отбор в събота (17.03.).</p>
                        <p>В неделя (18.03.) всеки отбор ще представи своя проект пред жури (съставено от преподаватели в ТУЕС, ТУЕС алумни и представители на компаниите-спонсори). Отборите ще бъдат разделени в 3 полуфинала. От всеки от проведените 3 полуфинала ще бъдат избрани по 3 отбора, които ще участват във финалите. Така общо до финала ще достигнат 9 отбора. Всеки отбор ще има по 5 минути за представяне на проекта си и 5 минути да отговори на въпроси от журито.</p>

                        <h4>ДИСКВАЛИФИКАЦИЯ:</h4>
                        <p>Ако журито сметне, че даден проект не е авторски, съответният отбор може да бъде дисквалифициран.</p>
                        <p>Организаторите на събитието може да дисквалифицират участник, ако поведението на участника е непристойно или пречи на провеждането на хакатона.</p>
                        <p>Организаторите си запазват правото да дисквалифицират отбор ако проектът им не е подходящ за събитието, има неморално съдържание или зловредна цел.</p>
                        <p>До участие в хакатона няма да бъдат допускани лица във видимо нетрезво състояние.</p>

                        <h4>ТОРМОЗ:</h4>
                        <p>Не се толерира тормоз над екипа на Hack TUES, доброволците или участниците в събитието, под каквато и да е форма.</p>
                        <p>Ако сте подложен на тормоз, забележите, че някой друг е подложен на тормоз, или имате някакви други проблеми, моля свържете се с член от екипа на хакатона веднага.</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>