<main th:remove="tag">
    <div class="main-container">
        <section class="height-70 bg--dark imagebg page-title page-title--animate parallax" data-overlay="4">
            <div class="background-image-holder">
                <img alt="image" src="img/official-background.jpg"/>
            </div>
            <div class="container pos-vertical-center">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1 text-center">
                        <h1>Теми на Hack 30xTUES</h1>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <div class="elements--title">
                            <h4>Главна тема: Old School/New Technologies</h4>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="elements--title">
                            <h4>Подтеми: посока → бъдеще</h4>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="feature feature-1">
                            <i class="icon icon--lg icon-Library"></i>
                            <h4>2hack4school</h4>
                            <p>Иновативни образователни игри и приложения, които да подобряват учебния процес в ТУЕС или да са интересни за възпитаниците на училището.</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="feature feature-1">
                            <i class="icon icon--lg icon-Cube-Molecule2"></i>
                            <h4>IT &amp;&amp; Science</h4>
                            <p>
                                Връзката и приложението на информационните технологии в други науки като например биология, физика, електротехника.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4" style="background: #42b4bb; color: black;">
                        <div class="feature feature-1">
                            <i class="icon icon--lg icon-Management"></i>
                            <span style="color: white; margin-left: 10px;">
                                <em>#изтеглена</em>
                            </span>
                            <h4>‘BSU’ - Business, School &amp; University</h4> <!-- management-->
                            <p>Обединението на 3-те елемента за успешно образование с помощта на ИТ решения.</p>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="elements--title">
                            <h4>Подтеми: посока ← минало</h4>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="feature feature-1">
                            <i class="icon icon--lg icon-Pac-Man"></i>
                            <h4>Past++</h4>
                            <p>Подобрени (модернизирани) варианти на ретро технологии, запазвайки концепцията.</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="feature feature-1">
                            <i class="icon icon--lg icon-Hat"></i>
                            <h4>Vintage Innovation</h4>
                            <p>Проекти с ретро насоченост, които пресъздават някаква vintage технология.</p>
                        </div>
                    </div>
                    <div class="col-sm-4" style="background: #42b4bb; color: black;">
                        <div class="feature feature-1">
                            <i class="icon icon--lg icon-Cannon"></i> <!--dinosaur-->
                            <span style="color: white; margin-left: 10px;">
                                <em>#изтеглена</em>
                            </span>
                            <h4>Digital Past</h4>
                            <p>Как технологиите могат да възродят историята и интереса към миналото.</p>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="elements--title">
                            <h4>Бонус подтема</h4>
                        </div>
                    </div>
                    <div class="col-sm-4" style="background: #42b4bb; color: black;">
                        <div class="feature feature-1">
                            <i class="icon icon--lg icon-Dinosaur"></i>
                            <span style="color: white; margin-left: 10px;">
                                <em>#бонусподтема</em>
                            </span>
                            <h4>30xTUES</h4>
                            <p>Проекти, които са свързани с 30-годишната история на ТУЕС.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
				