<footer th:fragment="footer" th:remove="tag">
    <div class="col-sm-3">
        <img alt="logo" class="logo" th:src="@{/img/hack-tues-logo.png}" style="max-height: 75px; max-width: 193px;"/>
        <a class="type--underline" href="mailto:hacktues@elsys-bg.org">hacktues@elsys-bg.org</a>
    </div>

    <div class="col-sm-6 text-center">
        <ul class="social-list">
            <li>
                <a target="_blank" href="https://www.facebook.com/HackTUES/"><i class="socicon-facebook"></i></a>
            </li>
            <li>
                <a target="_blank" href="https://www.instagram.com/hacktues/"><i class="socicon-instagram"></i></a>
            </li>
        </ul>
    </div>

    <div class="col-sm-6 text-center">
        <span class="type--fine-print">© <span class="update-year">2018</span> Hack TUES</span>
    </div>

    <!--<div class="col-sm-3 text-right text-center">
        <a href="#top" class="inner-link top-link">
            <i class="interface-up-open-big"></i>
        </a>
    </div>-->
</footer>