<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Hack 30xTUES</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link th:href="@{/css/socicon.css}" rel="stylesheet" type="text/css" media="all"/>
    <link th:href="@{/css/iconsmind.css}" rel="stylesheet" type="text/css" media="all"/>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css" media="all"/>
    <link th:href="@{/css/interface-icons.css}" rel="stylesheet" type="text/css" media="all"/>
    <link th:href="@{/css/owl.carousel.css}" rel="stylesheet" type="text/css" media="all"/>
    <link th:href="@{/css/theme-mediumblue.css}" rel="stylesheet" type="text/css" media="all"/>
    <link th:href="@{/css/custom.css}" rel="stylesheet" type="text/css" media="all"/>
    <link href='https://fonts.googleapis.com/css?family=Lora:400,400italic,700|Montserrat:400,700' rel='stylesheet' type='text/css'/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400italic%7CKarla:400,700" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/font-karlaopensans.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/img/HT-logo2.png}" rel="icon"/>
</head>

<body data-reveal-selectors="section:not(.masonry):not(:first-of-type):not(.parallax)">

<div class="main-container">
    <section class="height-100 bg--dark page-error">
        <div class="container pos-vertical-center">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <i class="icon icon--lg icon-CPU"></i>
                    <h1>Error 500 - Грешка</h1>
                    <p>Изникна грешка. Моля, върнете се в сайта и опитайте отново.</p>
                </div>

                <div class="col-sm-12 text-center">
                    <a class="btn bg--primary" th:href="@{/}">
                        <i class="icon icon-Back2"></i>
                        <span class="btn__text">Към сайта</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>

<script th:src="@{/js/jquery-2.1.4.min.js}"></script>
<script th:src="@{/js/scrollreveal.min.js}"></script>
<script th:src="@{/js/parallax.js}"></script>
<script th:src="@{/js/scripts.js}"></script>
<script th:src="@{/js/webapp-scripts.js}"></script>
<script th:src="@{/js/isotope.min.js}"></script>
<script th:src="@{/js/owl.carousel.min.js}"></script>
</body>
</html>