<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="site-head">
    <meta charset="UTF-8" />
    <link rel="icon" href="../public/img/HT-logo2.png" th:href="@{/img/HT-logo2.png}" />
    <link rel="stylesheet" href="../public/css/styles.css" th:href="@{/css/styles.css}" />
    <script src="../public/js/jquery-3.2.1.min.js" th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script src="../public/js/webapp-scripts.js" th:src="@{/js/webapp-scripts.js}"></script>
    <meta th:include="this :: head" th:remove="tag"/>
</head>
<body>
<header th:fragment="site-header" th:remove="tag">
    <header>
        <a href="team/login.html" th:href="@{/login}" class="text-left">Влез</a>
        <a href="team/register.html" th:href="@{/register}" class="text-left">Регистрация</a>
        <a href="home/index.html" th:href="@{/}" class="logo"><img src="../public/img/HT-logo3.png" th:src="@{/img/HT-logo3.png}" /></a>
        <a href="blog/posts.html" th:href="@{/blog}" class="text-right">Блог</a>
        <a href="info/information.html" th:href="@{/info}" class="text-right">За HackTUES</a>
        <div id="logged-in-info"> <span>Здравей, <b>(потребител)</b></span>
            <form method="post" th:action="@{/logout}">
                <input type="submit" value="Излез"/>
            </form>
        </div>
    </header>
</header>

<footer th:fragment="site-footer">
    &copy; HackTUES, 2018
</footer></body></html>