<main th:remove="tag">
    <div class="main-container">
        <section class="height-100 cover cover-8">
            <div class="col-md-7 col-sm-5">
                <div class="background-image-holder">
                    <img alt="image" src="/img/official-background.jpg"/>
                </div>
            </div>
            <div class="col-md-5 col-sm-7 bg--white text-center">
                <div class="pos-vertical-center">
                    <img class="logo" alt="HackTUES" src="/img/hack-tues-logo.png"/>
                    <p class="lead">Смяна на капитан</p>
                    <div class="text-left">
                        <form th:action="@{/team/leader/change}" method="post">
                            <th:block th:if="${message}">
                                <div id="message" class="notification pos-right pos-top col-sm-6 col-md-4 col-xs-12 growl-notice notification--reveal" data-animation="from-right" data-notification-link="growl" style="top: 40px;">
                                    <div class="boxed boxed--sm bg--dark">
                                        <span th:text="${message}"></span>
                                    </div>
                                    <div class="notification-close-cross notification-close"></div>
                                </div>
                            </th:block>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="input-with-icon">
                                        <label>Имейл на нов капитан:</label>
                                        <i class="icon icon-Mail-2"></i>
                                        <input type="email" name="email" placeholder="Имейл на нов капитан" required="required"/>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <button type="submit" class="btn btn--primary vpe" onClick="return checker();">Смени</button>
                                    <br/>
                                    <a class="btn bg--dark" th:href="@{/team}" style="margin-top: 10px;">
                                        <i class="icon icon-Back2"></i>
                                        <span class="btn__text">Назад</span>
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>