<div class="main-container">
    <section class="height-100 imagebg" data-overlay="2">
        <div class="background-image-holder">
            <img alt="image" th:src="@{/img/official-background.jpg}"/>
        </div>
        <div class="container pos-vertical-center">
            <div class="row">
                <div class="col-md-7 col-sm-8">
                    <h1>Местата за отбори са изчерпани!</h1>
                    <p>
                        За съжаление местата за отбори се изчерпаха. Благодарим Ви за регистрирането и късмет!
                    </p>
                    <a class="btn btn--primary" th:href="@{/}">
                        <i class="icon icon-Back2"></i>
                        <span class="btn__text">
                            Към сайта
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>
				